.welcomepage {
  background-color: #d8d8d8;
  width: 100%;
}

.pFontSize {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.h4cra {
  position: absolute;
  bottom: 13%;
  color: white;
  margin: 0;
  width: 95%;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media only screen and (max-width: 426px) {
  .fontsizetelcrausel {
    font-size: 20px;
  }
  .paddingtop {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 760px) {
  .fontsizetelcrausel {
    font-size: 18px;
  }
  .paddingtop {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1020px) {
  .fontsize18crausel {
    font-size: 18px;
  }
  .fontsizetelcrausel {
    font-size: 20px;
  }
  .imgwidth {
    width: 100% !important;
  }
  .ptag {
    font-size: 15px;
    bottom: 25%;
  }
}

@media only screen and (min-width: 1021px) {
  .imgwidth {
    width: 100% !important;
  }

  .ptag {
    bottom: 18%;
  }
}

@media only screen and (min-width: 1430px) {
  .pFontSize {
    line-height: 40px;
  }
}
